body {
  font-family: "Silkscreen", sans-serif;
  background-color: yellow;
  text-align: center;
}
#header {
  padding-top: 50px;
  text-align: center;
}


.quote {
  margin-top: 20px;
  text-align: center;
  font-size: 30px;
}

h1 {
  margin-top: 60px;
  text-align: center;
}
#arrow_keys{
  margin-top: 20px;
}
#start-btn {
  text-align: center;
  background-color: #00aaff;
  font-size: 20px;
  color: white;
  padding: 10px;
  border-radius: 10px;
  border: 4px;
  border-color: #0040e0;
  border-style: solid;
  font-weight: bold;
  font-family: "Silkscreen", sans-serif;
  margin-bottom: 10px;
}
#counter-btn {
  text-align: center;
  background-color: #00aaff;
  font-size: 20px;
  color: white;
  padding: 10px;
  border-radius: 10px;
  border: 4px;
  border-style: solid;
  border-color: #0040e0;
  font-weight: bold;
  font-family: "Silkscreen", sans-serif;
  margin-top: 10px;
  margin-bottom: 20px;
}

#restart-btn {
  text-align: center;
  background-color: #00aaff;
  font-size: 20px;
  color: white;
  padding: 10px;
  border-radius: 10px;
  border: 4px;
  border-style: solid;
  border-color: #0040e0;
  font-weight: bold;
  font-family: "Silkscreen", sans-serif;
  margin-top: 60px;

}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#game-box {
  width: 1227px;
  height: 735px;
  position: relative;
  overflow: hidden;
  user-select: none;
  background-image: url("./Imagenes/fruteria.png");
  background-position: center;
  background-size: cover;
}

#game-box * {
  pointer-events: none;
}

#game-screen {
  display: none;
}
#game-over-screen {
  margin-top: 100px;
  display: none;
  background-color: yellow;
}
