body {
  font-family: "Arial";
}

#img-fondo {
  height: 800px;
  background-image: url("./Imagenes/portada 2.jpg");
  background-size: 100% auto;
  background-image: cover;
  background-repeat: no-repeat;
  margin: 0;
}

#div-btn {
  margin-top: 20px;
  margin-left: 150px;
}
.quote {
  margin-left: 20px;
}
h2 {
  margin-left: 20px;
}

#header {
  padding-top: 400px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
}

#start-btn {
  text-align: center;
  background-color: rgb(13, 49, 229);
  font-size: 20px;
  color: white;
  padding: 10px;
  border-radius: 10px;
  width: 80px;
  height: 120;
  border: 0px;
  font-weight: bold;
}
#counter-btn {
  text-align: center;
  background-color: rgb(13, 49, 229);
  font-size: 20px;
  color: white;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  border: 0px;
  margin-bottom: 20px;
}

#restart-btn {
  text-align: center;
  background-color: rgb(13, 49, 229);
  font-size: 18px;
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin-top: 625px;
  border: 0px;
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#game-box {
  width: 1227px;
  height: 700px;
  position: relative;
  overflow: hidden;
  user-select: none;
  background-image: url("../Imagenes/fruteria.jpeg");
  background-position: center;
  background-size: cover;
}

#game-box * {
  pointer-events: none;
}

#game-screen {
  display: none;
}
#game-over-screen {
  display: none;
  height: 800px;
  background-image: url("./Imagenes/game-over2.jpg");
  background-size: 100% auto;
  background-image: cover;
  background-repeat: no-repeat;
}


